body {
    margin: 0xp;
    font-family: Be Vietnam;
}

nav{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

div.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.menu span{
    margin-left: 2rem;
}

.button{
    background-color: #F3603B;
    color: white;
    padding: 1rem;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    
}

section.home{
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}

section.home div h1{
    color: #232C50;
    font-size: xxx-large;
}

section.sobre-nosotros {
    display: flex;
    padding: 5rem;
}

section.testimonios{
    display: flex;
    flex-direction: column;
    text-align: center;
}

section.article{
    display: flex;
    padding: 5rem;
}

section.article article{
    background-color: #FAFAFA;
}

section.last{
    padding: 5rem;
    background-color: #F3613C;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

h4{
    font-size: xx-large;
}

.button-white{
    background: white;
    box-shadow: 0px 4px 8px rgba(243, 96, 59, 0.5);
    border-radius: 50px;
    padding: 1rem;
}

footer {
    color: #FAFAFA;
    background-color: #1E1E26;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

footer section.redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

footer section.redes div{
    justify-content: space-around;
}

footer section.sections{
    display: flex;    
}

footer section.buscador{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-buscador{
    color: #A0A0A0;
    background: white;
    border-radius: 50px;
    padding: 1rem;
}

footer section.buscador div{
    display: flex;
    justify-content: center;
}